{
    "root": true,
    "extends": "eslint-config-hapi",
    "plugins": [
    ],
    "rules": {
      "indent": [2, 2],
      "no-multiple-empty-lines": [2, {"max": 2}],
      "hapi/hapi-scope-start": [0],
      "no-else-return": [0]
    }
}
